body {
  background-image: url('E:\project\site\search-website\foto\pexels-photo-264636.jpeg'); /* Замените 'path/to/your/image.jpg' путем к вашей фотографии */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
