.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 1000vh;
}

 .search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 70%;
  max-width: 400px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.site-filter .site-dropdown,
.country-filter .country-dropdown,
.max-price-filter .max-price-dropdown {
  padding: 10px 22px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.max-price-filter {
  margin-left: 10px;
}

.max-price-filter .max-price-dropdown {
  width: auto;
  max-width: none;
}
